{% load static %}
<title> Coliving map</title>
<link rel="shortcut icon" type="image/png" href="/static/img/potion.png">
<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<script src="/static/js/jquery-min.js"></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="/static/css/austin.css?{{ now  }}" />
<div id='map'></div>
<script src='/static/js/mapbox.js'>
</script>
<div id="menu">
    <h3> Filters <span id="MenuToggle" class='showhide'></span></h3>

</div>

Austin Coming soon!
<!-- Summary -->
<script src='/static/js/index.js?'{{ now }}></script>

